<div class="textAlignCentre">

  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">BANQI</a>
      </div>

      <ul class="nav navbar-nav navbar-right">
        <li ><a routerLink ="/home" routerLinkActive="active"><span class="glyphicon glyphicon-home"></span>Home</a></li>
        <li><a (click)="onGameRules()" class =" cursor"><span class="glyphicon glyphicon-pawn"></span>Game Rules</a></li>
        <li><a routerLink ="/signin" routerLinkActive="active"><span class="g	glyphicon glyphicon-user"></span> SignIn </a></li>
        <li><a routerLink ="/register" routerLinkActive="active"><span class="g	glyphicon glyphicon-pencil"></span> Register </a></li>
      </ul>

    </div>
  </nav>


  <h3>Create your Account </h3>
  <form [formGroup]="registrationForm"  (ngSubmit)="registerUser(registrationForm.value)">
    <div class="example-container">
      <mat-form-field>
        <input matInput type="email" placeholder="Enter your email" formControlName="email" required>
        <mat-error *ngIf="registrationForm.controls['email'].invalid">{{getErrorMessage('')}}</mat-error>
      </mat-form-field>
    </div>
    <div class="example-container">
      <mat-form-field>
        <input matInput placeholder="Enter your nickname" formControlName="nickName" required>
        <mat-error *ngIf="registrationForm.controls['nickName'].invalid">{{getErrorMessage('nickName')}}</mat-error>
      </mat-form-field>
    </div>
    <div class="example-container">
      <mat-form-field>
        <input matInput type="password" placeholder="Enter your password" formControlName="password" required minlength="8">
        <mat-error *ngIf="registrationForm.controls['password'].invalid">{{getErrorMessage('password')}}</mat-error>
      </mat-form-field>
    </div>
    <div class="banqi-button-row">
      <button mat-raised-button color="primary" type="submit" [disabled]="!registrationForm.valid">Register User</button>
    </div>
  </form>
</div>



























