<nav class="navbar navbar-inverse" >
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">BANQI</a>
    </div>

    <ul class="nav navbar-nav navbar-right">
      <li><a routerLink ="/home" routerLinkActive="active"><span class="glyphicon glyphicon-home"></span>Home</a></li>
      <li><a (click)="onGameRules()" class =" cursor" ><span class="glyphicon glyphicon-pawn"></span>Game Rules</a></li>
      <li><a routerLink ="/invite" routerLinkActive="active"><span class="glyphicon glyphicon-bullhorn"></span>Invite Friends</a></li>
      <li><a routerLink ="/history" routerLinkActive="active"><span class="glyphicon glyphicon-list-alt"></span>History</a></li>
      <li><a routerLink ="/profile" routerLinkActive="active"><span class="glyphicon glyphicon-briefcase"></span>User Profile</a></li>
      <li><a routerLink ="/signin" routerLinkActive="active"><span class="glyphicon glyphicon-log-out"></span> LogOut</a></li>

    </ul>

  </div>
</nav>


<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar></div>
    <mat-card-title class ="tittle">I'm</mat-card-title><br/><br/>

  </mat-card-header>
  <h2 class="user-profile">{{currentUser.toUpperCase()}}</h2>

  <img mat-card-image src="../assets/images/profile-cartoon.jpg" alt="Photo of a user">
  <mat-card-content>
    <p class="player">
                     BANQI GAME PLAYER
    </p><br/>

  </mat-card-content>
  <button class ="unregister"> Un-Register</button>

</mat-card>


