<div  class="textAlignCentre">

  <nav class="navbar navbar-inverse" >
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">BANQI</a>
      </div>

      <ul class="nav navbar-nav navbar-right">
        <li><a routerLink ="/home" routerLinkActive="active"><span class="glyphicon glyphicon-home"></span>Home</a></li>
        <li><a><span class="glyphicon glyphicon-pawn"></span>Game Rules</a></li>
        <li><a routerLink ="/invite" routerLinkActive="active"><span class="glyphicon glyphicon-bullhorn"></span>Invite Friends</a></li>
        <li><a routerLink ="/history" routerLinkActive="active"><span class="glyphicon glyphicon-list-alt"></span>History</a></li>
        <li><a routerLink ="/profile" routerLinkActive="active"><span class="glyphicon glyphicon-briefcase"></span>User Profile</a></li>
        <li><a routerLink ="/signin" routerLinkActive="active"><span class="glyphicon glyphicon-log-out"></span> LogOut</a></li>

      </ul>

    </div>
    </nav>




    <h1>Invite Friends</h1>

  <div  class="alignMent">


    <div  class="alignMent">


      <!--<h5><label >Select Name </label>
        <select #inviteUser [(ngModel)]="selectedCategory" name="rec" id="rec">
          <option value="0">&#45;&#45;List of users&#45;&#45;</option><br/>
          <option *ngFor="let category of categories" [value]="category">{{category}}</option>
        </select><br/><br/></h5>-->



    <span>
      <input #inviteUser type="text" >
    </span>
    <span>
      <button (click)="onInvite( inviteUser )"> Invite User </button>
    </span>
  </div>
</div>

<div *ngIf="newInvitations">
  <div></div>
  <div></div>
  <hr>
  <div *ngIf="!isInvitationSentByThisUser">
    <div *ngFor="let invitationUser of newInvitations; let i = index" >
    <span>
      You have got Invite from {{invitationUser["sentUser"]}}!
    </span>
      <div>
      <span>
        <button (click)="onAccept( invitationUser['sentUser'] )"> Accept </button>
      </span>
      <span>
        <button (click)= "onReject( invitationUser['sentUser'] )"> Reject </button>
      </span>
      </div>
    </div>
  </div>

  <div>
    <div *ngIf="isInviteRejectedByThisUser">
      <span>
       You have rejected the Invitation{{playerTwo}}!
      </span>
    </div>
    <div *ngIf="rejectedInvitations.length > 0 && !isInviteRejectedByThisUser">
      <div *ngFor="let rejectedInvitation of rejectedInvitations; let i = index">
        <span>
         Your invitation has been rejected by {{rejectedInvitation["receivedUser"]}}!
        </span>
      </div>
    </div>
  </div>

  <!--<div *ngIf="!isInvitationSentByThisUser">-->
  <div *ngFor="let invitationUser of receivedUser; let i = index">
    <span>
      Waiting for the {{invitationUser["receivedUser"]}} user to Accept!
    </span>
    <div>
      <span>
        <button (click)="navigateToAlreadyExistingGmae( invitationUser['receivedUser'], 'already Created')"> Start the Game  </button>
      </span>
    </div>
  </div>
  <!--</div>-->
</div>

<h2 *ngIf="isUserSignedIn" class="userNamePosition">{{currentUser.toUpperCase()}}
</h2>


<!--<div>-->
<!--    <span>-->
<!--      <button (click)="logout()"> Logout </button>-->
<!--    </span>-->
<!--</div>-->

<!--<div style="text-align:center">-->
<!--  <nav>-->
<!--    <a routerLink ="/signin" routerLinkActive="active="> Logout</a>-->
<!--  </nav>-->
<!--</div>-->
