.userNamePosition {
  position: absolute;
  top: 70px;
  right: 25px;
  color: black;
}
.cursor{
  cursor: pointer;
}


/*
.box {
  position: absolute;
  left: 565px;
  right: 50px;
}

#rec{
  width: 200px;
  height: 25px;
}
*/
