.example-card {
  max-width: 600px;
  width: 85%;
  margin: 25px auto;
}

.example-header-image {
  width: 25%;
  right: 80px;
  heigth: 12%;
  margin: 10px auto;
}
.head{
  top: 25px;
  right: 175px;
  color: black;
  position: absolute;
}
