<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">BANQI</a>
    </div>

    <ul class="nav navbar-nav navbar-right">
      <li><a routerLink ="/home" routerLinkActive="active"><span class="glyphicon glyphicon-home"></span>Home</a></li>
      <li><a routerLink ="/history" routerLinkActive="active"><span class="glyphicon glyphicon-list-alt"></span>History</a></li>
      <li><a routerLink ="/signin" routerLinkActive="active"><span class="glyphicon glyphicon-log-out"></span> LogOut</a></li>

    </ul>

  </div>
</nav>

<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar></div>
    <mat-card-title >Banqi Game Rules</mat-card-title>
  </mat-card-header>
  <img class ="example-header-image" mat-card-image src="../assets/images/1280px-BanQi.jpg" alt="Photo of a user">
  <mat-card-content>
    <p>➢4 x 8 board or half of Chinese board.</p>
    <p>➢All the pieces are shuffled and randomly allocated face-down to squares on the board.</p>
  <p>➢Main moves involved are:</p>
  <p>●Flipping a piece to reveal it.</p>
  <p>●Moving a piece horizontally or vertically.</p>
  <p>●Capturing an opponent’s piece.</p>
  <p>●Cannon moves are different - It should always fly horizontally or vertically.</p>
  <p>➢The Capture moves are done according to the ranking of pieces except in case of General, Soldier and Cannon.</p>
  <p>General -> Chariot -> Horse -> Cannon, Advisor -> Minister -> Soldier</p>
  </mat-card-content>
</mat-card>
