
.pieceSetup {
  width: 140px;
  height: 126px;
  background: cornsilk;
  border: 1px solid black;
  padding: 1px;
  min-width: 140px;
}

.red {
  color: #FF7479;
}

.white {
  color: #2E2B2A;
}


.buttonAlignment {
  /*width: 100%;
  height: 100%;*/
  width: 140px;
  height: 126px;
}
.cursor{
  cursor: pointer;
}

button{
  background: transparent;
}

/*
tbody{
  margin: 200px 800px;
  float: left;
  border: 1px solid black;;
}
*/

tr:nth-child(odd) td:nth-child(even), tr:nth-child(even) td:nth-child(odd) {
  background: wheat;
}

