
.pieceSetup {
  width: 116px;
  height: 126px;
  background: aliceblue;
  border: 1px solid black;
  padding: 1px;
}

.red {
  color: #FF7479;
}

.white {
  color: #2E2B2A;
}


.buttonAlignment {
  /*width: 100%;
  height: 100%;*/
  width: 116px;
  height: 126px;
}
.cursor{
  cursor: pointer;
}

/*
tbody{
  color: lightgray;
  background-image: url("../../assets/images/512x512.png");
  background-repeat: no-repeat;
  margin: 200px 800px;
  float: left;
  border: 1px solid black;;
}

tr:nth-child(odd) td:nth-child(even), tr:nth-child(even) td:nth-child(odd) {
  background: white;
}
body{

   background-image: url("../../assets/images/512x512.png");
   background-repeat: no-repeat;
   background-position: center;

   background-size: cover
 }
*/
