 .background {
  background-image: url("../../assets/images/1280px-BanQi.jpg");
  height:  500px;
  width: 99%;
}
 .cursor{
   cursor: pointer;
 }
 .text-color{
   color: white;
   font-weight: bold;
   font-size: 250%;
 }
