
<div class="marginTop18Px" >

  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="active navbar-brand" href="#">BANQI</a>
      </div>

      <ul class="nav navbar-nav navbar-right">
        <li><a (click)="onGameRules()"><span class="glyphicon glyphicon-pawn"></span>Game Rules</a></li>
        <li><a routerLink ="/register" routerLinkActive="active"><span class="g	glyphicon glyphicon-pencil"></span> Register </a></li>
        <li><a routerLink ="/signin" routerLinkActive="active"><span class="glyphicon glyphicon-user"></span> SignIn</a></li>

      </ul>

    </div>
  </nav>


  <div class="background"></div>


  <mat-grid-list cols="2">

  </mat-grid-list>
  <mat-grid-list class="paddingTop18px" cols="4" rowHeight="4:1">
    <mat-grid-tile></mat-grid-tile>
    <mat-grid-tile  style="border: 1px solid black;background: lightblue;">
      <div>
        <a routerLink="/register" routerLinkActive="active">Register User</a>
      </div>
    </mat-grid-tile>
    <mat-grid-tile  style="border: 1px solid black;background: lightblue;">
      <div>
        <a routerLink="/signin" routerLinkActive="active">Sign In</a>
      </div>
    </mat-grid-tile>
    <mat-grid-tile></mat-grid-tile>
  </mat-grid-list>

</div>
